*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  position: relative;
}

header {
  background: url(img/palm-600.jpg) no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10000;
  margin: 0;
  padding: 0;
}

.header {
  z-index: 500;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo-wrapper {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 100%;
  max-width: 220px;
  z-index: 100000;
  transition: all 0.3s ease-in;
  will-change: top;
}

.logo-fixed {
  position: fixed;
  transform: translateY(-20%);
  top: 80px;
}

.arrow img {
  position: absolute;
  padding: 15px;
  transform: translateX(-50%);
  left: 50%;
  height: 8%;
  bottom: 30px;
}

.arrow:hover {
  cursor: pointer;
}

.palm-tree {
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

nav {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  background: white;
}

section {
  height: 100vh;
}

.content {
  transition: transform 0.3s ease-in;
}

.content-active {
  transform: translateY(-100%);
}

.hamburger {
  display: flex;
  position: fixed;
  cursor: pointer;
  height: 45px;
  width: 45px;
  justify-content: center;
  padding: 5px;
  color: black;
  z-index: 400;
  top: 36px;
  right: 0;
  margin-right: 18px;
  background-color: transparent;
  outline: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-line {
  background-color: #5f5f5f;
  width: 2px;
  margin-left: 6px;
  transition: 0.3s ease-in;
}

.hamburger-line:first-child {
  transition: 0.3s ease-in;
}

.hamburger-line-1 {
  height: 12px;
}

.hamburger-line-2,
.hamburger-line-3 {
  height: 26px;
}

.toggle-menu .hamburger-line-1 {
  opacity: 0;
  transform: rotate(-45deg);
}

.toggle-menu .hamburger-line-2 {
  transform: rotate(-45deg) translate(-5px);
}

.toggle-menu .hamburger-line-3 {
  transform: rotate(45deg) translate(-5px, 10px);
}

nav {
  position: fixed;
  z-index: 300;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav-active {
  transform: translateX(0);
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  width: 90%;
  padding-left: 0;
  height: 100%;
  justify-content: center;
}

.nav-links li {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 5px;
  text-align: center;
  top: 40px;
}

.menu-link {
  text-decoration: none;
  letter-spacing: 2.5px;
  color: black;
  font-size: 13px;
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 0.8px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in;
}

.menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 1200px) {
  header {
    background: url(img/palm-1000.jpg) no-repeat center;
    background-size: cover;
  }

  .hamburger {
    top: 74px;
    margin-right: 40px;
  }

  nav {
    width: 15%;
    right: 0;
    overflow: hidden;
  }

  .nav-links {
    height: 100vh;
  }

  .nav-links li {
    top: 0px;
    margin: 0 40px 55px 0;
    position: relative;
    text-align: right;
  }

  .logo {
    max-width: 350px;
  }

  .logo-fixed {
    position: fixed;
    transform: translateY(-26%);
    top: 92px;
  }
}